*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.section-title{
    color: rgb(7, 210, 7);
}

/* Navbar */
.navbar-title{
    color: tomato;
    font-weight: 700;
}

.active .nav-link{
    color: tomato;
}

/* hero section */
.hero{
    width: 100%;
    height: 600px;
    background-image: url('./images/hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

/* Top Destinations */

.destinations_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Our Team Leads */

.team-card{
    width: 100%;
    /* max-width: 300px; */
}

.team-card img{
    width: 100%;
    /* height: 500px; */
}

.team-card-image{
    width: 100%;
    object-fit: cover;
}

.team-text{
    font-weight: 500;
}

/* Counting section */
.count{
    background-color: rgb(8, 8, 43);
}

.count-title{
    font-family: 'Danding Script', cursive;
}

/* Overhead section */
.overhead-card{
    border-bottom: 4px solid blue;
}

.overhead-card-desc{
    font-weight: 500;
}

.overhead-card-desc-from{
    font-size: 12px;
    font-weight: 500;
}


.error{
    color: red;
}



/* Detail section */
.details{
    background-color: rgb(21, 21, 51);
}

.details .details-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.details i{
    margin-right: 15px;
}

/* Footer section */
.footer{
    background-color: black;
}

.footer-text{
    font-size: 14px;
}